* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.is-roundeds {
    border-radius: 10px;
}

.not-rounded {
    border-radius: 10px 10px 0px 0px;
}

.is-relative {
    position: relative;
}

.is-absolute {
    position: absolute;
    display:inline-block;
    bottom: 245px;
    left: 200px;
    margin-top: -100px;
    margin-bottom: -100px

}

.is-absolute-small {
    position: absolute;
    top: -11px;
    left: 55px;
}

.is-max {
    width: 100%;
}

.border-on {
    border: 1px solid rgb(92, 92, 92);
    border-radius: 0px 0px 15px 15px;
}

.lighter-blue {
    background-color: rgb(205, 215, 245);
}